/** ImageGallery Grid **/
.imagegallery {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  margin-top: 15px;
}

.imagegallery .imagegallery-image img {
  max-width: 100%;
  max-height: 400px;
}

/** Lightbox **/
.sl-overlay {
  background: #ffffff;
  opacity: 1;
}

.sl-wrapper .sl-close,
.sl-wrapper .sl-counter,
.sl-wrapper .sl-navigation button {
  color: #333333;
}

/** pro features styling **/
nav.imagegallery-back {
  font-size: small;
}
